root {
    --accentColor: #00755A;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}


a, a:hover, a:focus {
  text-shadow: none;
  background-image: none;
}

p, span {
    color: rgba(0,0,0, 0.75);
    padding: 0;
    line-height: 1.2em;
}

p {
    margin: 0.5rem 0;
}

button {
    cursor: pointer;
}
