.content_container{

}


.home__cta {
    align-items: flex-end;
    background: url('../images/home_cta_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 70vh;
    justify-content: center;
    min-height: 500px;
    padding: 5rem;
}

.home__ctaText {
    display: none;
}

.home__ctaButton {
    background-color: var(--accentColor);
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
    text-transform: uppercase;
}

.home__contentGrid {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.home__aboutAdditional {
    display: none;
}

@media screen and (min-width: 1000px) {
    .layout {
        max-width: 1000px;
    }
    .home__cta {
        align-items: flex-start;
        background-position: center;
        flex-direction: column;
        padding-left: 50%;
    }
    .home__ctaText {
        display: block;
        text-transform: capitalize;
    }

    .home__ctaText p {
        margin: 0;
        margin-bottom: 1.5rem;
        padding: 0;
    }

    .home__ctaText h2 {
        color: rgba(0,0,0, 0.75);
        font-family: 'Montserrat', sans-serif;
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
    }

    .home__contentGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .home__about {
        display: grid;
        grid-gap: 2rem;
        gap: 2rem;
        grid-template-columns: 2fr 3fr;
        padding: 2rem 0;
    }

    .home__aboutAdditional {
        background-color: var(--accentColor);
        color: white;
        display: block;
        padding: 1rem;
    }

    .home__aboutAdditional h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: capitalize;
    }
    .home__aboutAdditional p, .home__aboutAdditional a {
        color: white;
    }
}

.home__reactTabs {
  margin: auto;
}

.home__reactTabList {
  margin: auto;
}


.home__reactTab {
  width:50%;
  text-align:center;
  display:inline-flex;
  color: grey !important;
  border-bottom: 5px solid grey;
  padding: "1rem";
  marginBottom: "1rem";

}

.home__reactTab__selected {
  @extend .home__reactTabs;
  font-weight: bold;
  color: black;  
  border-bottom: 5px solid black;
}


.home__header_sub_menu {
  width:100%;
  text-align:center;
  display:inline-flex;
  text-align:center;
  color: grey !important;
  border-bottom: 5px solid black;
  margin: 0px 0px 10px 0px; 
}

.brand_summary_container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 6.55em;
  background: #F0F0F0;
  padding: 5px 10px 5px 10px;
  border: black;
  border-color: black;
  border-width: 2px;
}

.brand_center_header {
  width: 100%;
  display:inline-block;
  text-align:center;
  vertical-align: center;
  margin: auto;
}


.brand_center_container {
  width: 33.3%;
  display:inline-block;
  text-align:center;
  vertical-align: top;
  margin: auto;
  border: 0px 3px 0px 3px;
  border-color: black;
}

.brand_left_container {
  width: 33.3%;
  display:inline-block;
  text-align:center;
  vertical-align: top;
  margin: auto;
}

.brand_right_container {
  width: 33.3%;
  display:inline-block;
  text-align:center;
  vertical-align: top !important;
  margin: auto;
}


.cart__summary{
  width:100%;
}

.cart__summary_header{
  width:100%;
}
.order__summarycontainer{
  width:100%;
}

.order__summaryshipping{
  width:33.33%;
  display:inline-block;
  height:230px;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__summarypayment{
  width:33.33%;
  height:230px;
  display:inline-block;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__summarytotals{
  width:33.33%;
  height:230px;
  display:inline-block;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__buttoncontainer{
  width: 100%;
  display: inline-block;
  text-align:center;
  padding:10px 5px 10px 5px;
  border: solid 1px #EEEEEE;
  margin:20px 0px 20px 0px;
}


.order__button {
  max-width:200px;
  width:100%;
  height:50px;
  min-width: 60px;
  box-shadow:inset 0px 0px 0px 0px #37ff00;
  background-color:#000000;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px 5px 10px;
  text-decoration:none;
  line-height: 1.1em;
  margin:20px 0px 20px 0px;
}
.order__button:hover {
  background-color:#ffffff;
  color:black;
}
.order__button:active {
  position:relative;
  top:1px;
}

@media screen and (max-width: 700px) {
  .order__summaryshipping{
    width:100%;
}

  .order__summarypayment{
    width:100%;
}

  .order__summarytotals{
    width:100%;
}

}