.content_container{
  padding: 0px 5px 0px 5px;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

.home__cta {
    display: flex;
    align-items: center;
    background: url('../images/home_cta_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    justify-content: center;
    max-height: 300px;
    padding: 2rem;
}

.home__ctaText {
    display: flex;
    background-color: white;
    padding: .5rem .5rem .5rem .5rem;
    text-align:center;
}


.home__contentGrid {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.home__aboutAdditional {
    display: none;
}

@media screen and (min-width: 1000px) {
    .layout {
        max-width: 1000px;
    }

    .home__contentGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .home__contentGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.home__reactTabs {
  margin: auto;
}

.home__reactTabList {
  margin: auto;
}


.home__reactTab {
  width:50%;
  text-align:center;
  display:inline-flex;
  color: grey !important;
  border-bottom: 5px solid grey;
  padding: "1rem";
  marginBottom: "1rem";

}

.home__reactTab__selected {
  @extend .home__reactTabs;
  font-weight: bold;
  color: black;  
  border-bottom: 5px solid black;
}


.home__header_sub_menu {
  width:100%;
  text-align:left;
  color: grey !important;
  border-bottom: 5px solid black;
  margin: 0px 0px 10px 0px; 
}

/* Home order page */ 


.brand_summary_container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 6.6em;
  background: #F0F0F0;
  padding: 5px 10px 5px 10px;
  border: black;
  border-color: black;
  border-width: 2px;
  z-index: 10 !important
}

@media screen and (max-width: 1000px) {
.brand_summary_container {
top: 5.5em;
}
}

.brand_canvas {
  width:100%;
  z-index: 100;
  position: fixed;
  height:100px;
  top: 6.55em;
}

.brand_center_header {
  width: 100%;
}

.brand_left_container {
  width: 49.9%;
  display:inline-block;
  text-align:center;
  vertical-align: top;
  margin: auto;
}

.brand_right_container_abovemin {
  width: 49.9%;
  display:inline-block;
  text-align:center;
  vertical-align: top !important;
  margin: auto;
  background-color: #E7F1E8;
}

.brand_right_container_belowmin {
  width: 49.9%;
  display:inline-block;
  text-align:center;
  vertical-align: top !important;
  margin: auto;
  background-color: #FFD5D4;
}


.cart__summary{
  width:100%;
}

.cart__summary_header{
  width:100%;
}

.order__summarycontainer{
  width:100%;
}

.cart__emptycart{
  width:100%;
  display:inline-block;
  text-align:center;
  vertical-align: top !important;
  margin: 20px 0px 20px 0px;
  padding:100px 30px 100px 30px;
  background-color: #F0F0F0;
  align:center;

}


.order__summaryshipping{
  width:33.33%;
  display:inline-block;
  height:230px;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__summarypayment{
  width:33.33%;
  height:230px;
  display:inline-block;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__summarytotals{
  width:33.33%;
  height:230px;
  display:inline-block;
  vertical-align:top;
  border: solid 1px #EEEEEE;
  padding: 0px 10px 25px 10px;
}

.order__buttoncontainer{
  width: 100%;
  display: inline-block;
  text-align:center;
  padding:10px 5px 10px 5px;
  border: solid 1px #EEEEEE;
  margin:20px 0px 20px 0px;
}


.order__button {
  display: inline-flex;
  align-items: center; 
  max-width:200px;
  width:100%;
  height:60px;
  min-width: 60px;
  background-color:#000000;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px 5px 10px;
  text-decoration:none;
  line-height: 1.1em;
  margin:20px 0px 20px 0px;
}
.order__button:hover {
  background-color:#ffffff;
  color:black;
}
.order__button:active {
  position:relative;
  top:1px;
}

.order__button__belowmin{
  display: inline-flex;
  align-items: center; 
  max-width:200px;
  width:100%;
  height:60px;
  min-width: 60px;
  background-color: #F0F0F0;
  border:1px solid #F0F0F0;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px 5px 10px;
  text-decoration:none;
  line-height: 1.1em;
  margin:20px 0px 20px 0px;
}

@media screen and (max-width: 700px) {
  .order__summaryshipping{
    width:100%;
}

  .order__summarypayment{
    width:100%;
}

  .order__summarytotals{
    width:100%;
}

}

/* Home login page */ 

.home_center_container {
  width:100%;
  padding-top:100px;
  padding-bottom:100px;
  display:inline-block;
}

.home_center_subcomponent {
  width:100%;
  float: center;
  text-align: center;
  align-content: center;
  padding-bottom:30px;
}

.signin__input{
  height:50px;
  width: 300px;
  border:1px solid grey;
  padding:10px 10px 10px 10px;
  margin:20px 0px 20px 0px;

}

.signin__error{
  color: #ff5757;
  text-decoration:italic;
  font-size: 0.9em ;
}

.home__advisorcontainer{
  align-content: top;
  width:100%;
  padding: 0px 5px 0px 5px;
  border-top: 1px solid #F0F0F0;
  margin-top: 30px;
}

.home__advisorcartcontainer{
  align-content: top;
  width:100%;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #F0F0F0;
}

.home__advisorimg{
  display: inline-block;
  width:35%;
}

.home__advisortext{
  display: inline-block;
  width:65%;
  vertical-align: top;
}

.home__advisorcta{
  display: inline-block;
  width:100%;
  vertical-align: top;
  align-content: center;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
.home__advisorimg{
  display: inline-block;
  width:20%;
}

.home__advisortext{
  display: inline-block;
  width:30%;
  vertical-align: top;
}

  .home__advisorcta{
  display: inline-block;
  width: 49%;
  vertical-align: top;
  align-content: center;
  padding-top: 30px;
  justify-content: center;
  }

}

.advisor__button {
  display: inline-flex;
  align-items: center;
  align: center;
  width:200px;
  height:60px;
  background-color:#000000;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px 5px 10px;
  text-decoration:none;
  line-height: 1.1em;
  margin:20px 20px 20px 20px;
}
.advisor__button:hover {
  background-color:#ffffff;
  color:black;
}
.advisor__button:active {
  position:relative;
  top:1px;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
